@media screen{
	/* Custom page footer */
    .footer {
        padding-top: 19px;
        margin-top: 70px;
        color: #777;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
    h3,h4,h5{
        color: #848484;
    }
	
	/* Ordered list structure */
	.tree{
		counter-reset: item; 
		padding-left: 10px;
	}
	.tree-list{
		display: block;
	}
	.tree-list:before{
		content: counters(item, ".") " ";
		counter-increment: item;
	}
	.scrollToTop{
		position: fixed;
		right: 5px;
		top: 60px;
		display: none;
	}
	.dark-bkg-container{
		margin-top: -30px;
		background: #333;
		color: #fff;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 45px;
		box-shadow: 0 2px 15px #222 inset,
					0 -8px 15px -8px #222 inset;
	}
	.dark-bkg-container h3{
		color: #eee;
	}
	/* custom LESS links */
	.dark-bkg-container a{
		color: #62ADC4;
		text-decoration: none;
	}
	.dark-bkg-container a:hover{
		color: #81DAF5;
		text-decoration: underline;
	}
}