@media screen{
	/* Custom page footer */
    .footer {
        padding-top: 19px;
        margin-top: 70px;
        color: #777;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
    h3,h4,h5{
        color: #848484;
    }
	
	/* Ordered list structure */
	.tree{
		counter-reset: item; 
		padding-left: 10px;
	}
	.tree-list{
		display: block;
	}
	.tree-list:before{
		content: counters(item, ".") " ";
		counter-increment: item;
	}
	.scrollToTop{
		position: fixed;
		right: 5px;
		top: 60px;
		display: none;
	}
}